.App{
    background-color: #f6f6f6;
    color:#0d1d2c ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    /*font-family:Marlett;*/
}
.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    border-radius:5px ;
    border: 1px solid #ccc;
    padding: 10px;
}
.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.resultSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expenseBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding:10px;
    width: 135px;
    height: 60px;
    border-radius: 5px 10px;
    border: 1px solid #ccc;
}
.expenseBox span{
    font-weight: bold;
    color: green;
}
.btn{
    outline: none;
    padding : 5px 10px;
    background-color: #ede9fe;
    color: #6d28d9;
    border-radius: 5px;
    border: 1px solid #6d28d9;
    cursor: pointer;
}
.primary{
    color: #fff;
    background-color: #6d28d9;
    border: none;
    padding: 8px 10px;
}
.cancel{
    background-color: #fff;
    color: #dc2626;
    border: 1px solid #dc2626;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
    margin-bottom: 20px;
}
input{
    outline: none;
    border: 1px solid #ccc;
    padding: 10px 12px;
    border-radius: 5px;
}
input[type="radio"]{
    margin-left: 10px;
}
.radioBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.radioBox label{
    margin-right: 3px;
    font-size: 12px;
}
.transAction{
    border-radius: 5px;
    background-color: #f4f4f5;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border-right: 4px solid green;
}
input.search{
    display: block;
    border-radius: 8px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    background-color: #efefef;
    width: 100%;
    margin: 20px 0;
}